.sec{
    height:500px;
    width:450px;
    border-radius: 15%;
    border: 4px solid #68594d;
    margin-top:6% !important;
    margin:0 auto;
    background-color:#b59b86;
  }
  
  .accesso{
    text-align:center;
    margin-top:auto;
    color:white;
    font-size:36px;
    
  }
  
  ::-webkit-input-placeholder {
    color:#00000080; font-style:italic;
  }
  
  input, textarea { /* Stili per il campo di testo e per la textarea */
    display:flex;
    float:center;
    margin:0 auto;
    margin-top:30px;
    margin-bottom:30px;
    justify-content:space-between;
    background: #ffffff50; /* Colore di sfondo */
    border: 1px solid #00000050; /* Bordo */
    border-radius:35px;
    color: #000; /* Colore del testo */
    height: 50px; /* Altezza */
    line-height: 30px; /* Altezza di riga */
    width: 250px; /* Larghezza */
    text-align:center;
  }
  
  .button {
    background-color: #00000050;
    border: 1px solid #000; /* Bordo */
    border-color:black;
    border-radius:35px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  .button2 {
    background-color: #b59b86;
    border-radius:35px;
    border: none;
    color: #00000080;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  